<!doctype html>
<html lang="en-US">

   <head>
 	<meta charset="utf-8">	
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
	
	<title> The GPRR </title>
   </head>

   <body>
   
      <h1> Welcome to the piano rolls database!</h1>
      <h3> Search the database: </h3>


	<form method="POST"> 
		Composer:
		<input name="composer">
		<input type="submit">
	</form>
	<form method="POST"> 
		Title:
		<input name="title">
		<input type="submit">
	</form>
	<form method="POST"> 
		Performer:
		<input name="performer">
		<input type="submit">
	</form>
	<br>
	<form method="POST"> 
		Manufacturer:
		<input name="mfgr">
		<input type="submit">
	</form>
	<form method="POST"> 
		Roll number:
		<input name="rollNr">
		<input type="submit">
	</form>
	<form method="POST"> 
		Number of copies:
		<input name="nrCopies">
		<input type="submit">
	</form>
      
   </body>
</html>
