<!doctype html>
<html lang="en-US">

   <head>
 	<meta charset="utf-8">	
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
	
	<title> The GPRR </title>
   </head>

   <body>
   
      <h2> Welcome to the piano rolls database!</h2>
      <h3> Search the database: </h3>


	<form method="POST" action="{{ url_for('search_results') }}"> 
		Composer:<br>
		<input name="composer" type="text">
		<br>Title:<br>
		<input name="title" type="text">
		<br>Performer:<br>
		<input name="performer" type="text">
		<br>Manufacturer:<br>
		<input name="mfgr" type="text">
		<br>Roll number:<br>
		<input name="rollNr" type="text">
		<br>Number of copies:<br>
		<input name="nrCopies" type="text"><br><br>
		<input type="submit" value="Search">
	</form>
      
   </body>
</html>
